@font-face {
    font-family: "jedi";
    src: url(star_jedi_font/starjedi/Starjhol.ttf) format("truetype");
}

@font-face {
    font-family: "jout";
    src: url(star_jedi_font/starjout/Starjout.ttf) format("truetype");
}

.charactersI {
    height: 100px;
    padding: 10px;
    background-color: #444;
    border: 2px white;
    border-style: dashed;
    border-radius: 10px;
}

h1 {
    color: #ffe919;
    font-family: jedi;
    font-size: 8vh;
    font-weight: 1000;
}

h2 {
    font-family: jout;
}

#instructions, .charactersI {
    margin-bottom: 4vh;
}

body, html{
    height: 100%;

}

p.hp {
    color: #222;
    font-size: 1.25em;
    font-weight: 500;
}

.bg {
    background-image: url(../images/hothLandscape.jpg);
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.buttRow {
    margin-bottom: 5vh;
}

/* .restart {
    display: none;
} */